<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<%= form_for :post, url: posts_path, html: {multipart: true} do |f| %>
				<div class = "form-group">
					<%= f.label :title%>
					<%= f.text_field :title, class: 'form-control'%>
				</div>
				<br>

				<div class = "form-group">
					<%= f.label :summary %>
					<%= f.text_area :summary, class: 'form-control' %>
				</div>
				<br>

				<div class = "form-group">
					<%= f.label :body %>
					<%= f.trix_editor :body, class: 'editor' %>
				</div>
				<br>

				<div class = "form-group">
					<%= f.label :all_tags %>
					<%= f.text_field :all_tags, class: 'form-control' %>
				</div>
				<br>

				<div class = "form-group">
					<%= f.file_field :image %>
				</div>
				<br>

				<div class = "form-group">
					<%= f.submit t('common.apply'), class: 'btn btn-outline-success'  %>
					<%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary'  %>
				</div>
			<% end %>
		</div>
		<div class="col"></div>
	</div>
</div>


