<%= render 'shared/breadcrumb', category: @post.category %>
<div class="container">	
	<div class="row">
		<div class="article">
			<dl class="row">
				<dt class="col-sm-3">
					<h3><%= t('common.article') %></h3>
				</dt>
			  	<dd class="col-sm-9">
			  		<h3><%= @post.title %></h3>	
			  	</dd>

			  	<% if @post.category_id.present? %>
				  	<dt class="col-sm-3">
				 		<%= t('common.article_category') %>
				 	</dt>
				 	<dd class="col-sm-9">
				    	<p><%= link_to @post.category.name, @post.category, class: 'btn btn-outline-secondary btn-sm' %> </p>
				  	</dd>
				  <% end %>

			 	<dt class="col-sm-3">
			 		<%= t('common.article_summary') %>
			 	</dt>
			 	<dd class="col-sm-9">
			    	<p><%= @post.summary %></p>
			  	</dd>

			 	 <dt class="col-sm-3">
			 	 	<%= t('common.article_body') %>
			 	 </dt>
			 	 <dd class="col-sm-9">
			    	<p><%= @post.body.html_safe %></p>
			  	</dd>


			  	<dt class="col-sm-3">
			 	 	<%= t('common.article_img') %>
			 	 </dt>
			 	 <dd class="col-sm-9">
			    	<%= image_tag @post.image.url(:large), class: 'img-show' if @post.image?%>
			  	</dd>


			</dl>
			<div class= "text-center"> 
				<%= render 'form_update_delete'%>
			</div>
		</div>
	</div>
</div>	

<div class="container">	
	<%= render 'disqus'%>
</div>	


