<div class="container">
	<div class="row">
		<div>
			<h1 class="display-5 main"><%= t('common.category_edit')%>: <%= @category.name %></h1>
		</div>
	</div>
</div>

<%= render 'error_messages'%>

<div class="container">
	<div class="row">
		<%= form_for :category, url: category_path(@category),  method: :put, html: {multipart: true} do |f| %>

			
			<div class = "form-group">
				<%= f.label t('categories.new.title') %>
				<%= f.text_field :name, class: 'form-control'%>
			</div>
			<br>

			<div class = "form-group">
				<%= f.label :parent_id %>
				<% if @category.id == nil %>
					<%= f.collection_select :parent_id, Category.order(name: :asc), :id, :name, { include_blank: true }, class: 'form-control' %>
				<% else %>
					<%= f.collection_select :parent_id, Category.where.not(id: @category.id).order(name: :asc), :id, :name, { include_blank: true }, class: 'form-control' %>
				<% end %>
			</div>
			<br>
		
			<div class = "form-group">
				<%= f.submit t('common.apply'), class: 'btn btn-outline-success' %>
				<%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary'  %>
			</div>
		<% end %>
	</div>
</div>
